{% extends 'base.html'%}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">
      <div class="well">
        <h4>Records Number</h4>
        <p>{{count}}</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well">
        <h4>Min Price</h4>
        <p>{{min.askprice}} $</p>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="well">
        <h4>Max Price</h4>
        <p>{{max.askprice}} $</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4>Bounce</h4>
        <p>30%</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
