{% extends 'base.html'%}
{% block content %}
<div class="row row-offcanvas row-offcanvas-right">
  <!-- Main Content -->
  <h2 style="text-align:center">Demo Dự Đoán Giá Nhà Ở</h2>
  <div class="col-xs-12 col-sm-12">
    <div class="jumbotron">
      <ul>
        <li>Dự đoán giá nhà dựa trên mô hình hồi quy tuyến tính. Người dùng sẽ không được tiếp xúc trực tiếp với mô hình, mà thay vào đó chỉ là cung cấp các thông số cần thiết cho máy tính. Dựa vào các dữ liệu đó, máy tính sẽ tính toán thay cho con người . Người
          dùng sẽ chỉ nhập một số thông tin như: căn nhà mình tìm có tổng số bao nhiêu phòng, có bao nhiêu phòng ngủ, bao nhiêu phòng tắm, tổng diện tích căn nhà là bao nhiêu,... để từ đố máy tính có thể đưa ra một dự đoán về giá cho căn nhà phù
          hợp với những thông tin mà người dùng đã lựa chọn.</li>
        <li>Bản demo này chỉ để cho chúng ta thấy một mô hình dự đoán sẽ hoạt động như thế nào trên các trang website.</li>
        <li>Một số ứng dụng khác của mô hình hồi quy tuyến tính là: dự đoán kết quả sức khỏe trong y học, dự đoán giá cổ phiếu trong tài chính,...</li>
      </ul>
    </div>
    <form id="demo-form" name="demo-form" action="{% url 'house:predict'%}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-xs-3 col-lg-3">
          <div class="form-group">
            <label class="control-label">Số phòng khách</label>
          <!-- <input type="number" min="1" max="5" class="span3 form-control" name="TongSoPhong" placeholder="----" required> -->
            {{form.sophongkhach}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group field-homedata-bedrooms required">
            <label class="control-label">Số phòng ngủ</label>
            {{form.sophongngu}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group">
            <label class="control-label">Số phòng tắm</label>
            {{form.sophongtam}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group">
            <label class="control-label">Diện tích</label>
            {{form.dientich}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group">
            <label class="control-label">Năm xây dựng</label>
            {{form.namxaydung}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group">
            <label class="control-label">Khoảng cách tới trung tâm TP (Km)</label>
            {{form.kc_trungtam}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group">
            <label class="control-label">Khoảng cách tới sân bay (Km)</label>
            {{form.kc_sanbay}}
          </div>
        </div>
        <div class="col-xs-3 col-lg-3">
          <div class="form-group field-homedata-bedrooms required">
            <label class="control-label">Khoảng cách tới ga tàu điện (Km)</label>
            {{form.kc_taudienngam}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 form-group">
          <button type="submit" class="btn btn-success" name="DuDoan">Dự đoán</button>
        </div>
        <div class="col-md-9">
          <h4><em class="text-success">Giá nhà được dự đoán là: $ <mark>{{gia}}</mark></em></h4>
        </div>
      </div>
    </form>
  </div>
  <!-- End Main Content -->
</div>
{% endblock %}
